{% extends "header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Register-->
<body>
    <main class='wrapper'>
        <div class='aside-1'>
            <h2>Register</h2>
            (settings from the demo will transfer to your new account)
        </div>
        <section class='main'>
            <form method='POST'>
                {% csrf_token %}
                {{ form|crispy }}
                <!--<button class = 'btn btn-primary' type = 'submit'>Register</button>-->
                <button type = 'submit'>Register</button>
            </form>
            <p align='center'>If you already have an account, <a href='login'><u>login</u></a> instead.</p>
        </section>
    </main>
</body>

{% endblock %}

