:root {
    --color:#b00000;
    --color-bg-secondary:#d9d9d9;
    --color-accent:#80000015;
    --color-link:#058ed9;  /* light blue */
    --width-content:initial;
    --line-height: 1.5;
}

html, body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    line-height: var(--line-height);
}

body{
    background-color: #fbfbfb;
    background-repeat: no-repeat;
}


main{

}

h2{
    color: var(--color);
    color: #b00000;
    text-align: center;
}

ul{
    text-align: left;
}

a{
    color: var(--color-link);
    display: inline-block;
    font-weight: bold;
}

.CodeMirror {
    border: 1px solid #eee;
    height: 100%;
    width: 100%;
}

.page-wrapper {
    display: flex;  
    flex-flow: column;
    margin: auto;
    height: 100%;
    width: 100%;
}


.header {
    width:100%;
    height:min-content;
    text-align: right; 
    background-color: #e5e5e5;
    color: #222222;
    flex: 0 1 auto;
}

.page-title {
    width:100%;
    height:min-content;
    padding: 1rem 0rem 0rem 0rem;
    flex: 0 1 auto;
    margin: 0 10% 0 10%;
}

.console-wrapper {
    display: grid;
    grid-auto-flow: column;
    justify-content: center; 
    grid-auto-columns: 3fr;
    padding: 0rem 0rem 3rem 0rem;
    margin: 0 10% 0 10%;
    flex: 1 1 auto;
    height: auto;
}

.text-wrapper {
    justify-content: center; 
    grid-auto-columns: 3fr;
    padding: 0rem 0rem 3rem 0rem;
    margin: 0 10% 0 10%;
    flex: 1 1 auto;
    height: auto;
}

.column {
    display: grid;
    grid-auto-columns: 1fr;
    text-align: left;
    border: 1px dashed blue;
    box-sizing: border-box;
    width: initial;
 /*   width: 50%;
    height: 100%;
    */
}

.CodeMirror{
    box-sizing: border-box;
    width: initial;
}

.div{
    width: 100%;
}

@media all/* and (min-width: 800px)*/ {
    .header  { order: 1; }
    .page-title{ order:3; }
    .console-wrapper{ order:4; }
    .text-wrapper{ order:5; }
    .aside-1 { order: 20; } 
    .column  { order: 30; }
    .aside-2 { order: 40; }
    .footer  { order: 50; }
}

