{% extends 'header.html' %}

{% block content %}

<body>
    <main class='wrapper'>
        <div class='aside-1'>
            <h2>About Tarot</h2>
        </div>

        <section class='main' style='justify-content:start;' align='left'>
            <p> It should be simple to make a good financial plan for your future. Tarot is a tool that walks you through making a simple financial plan. It intentionally imposes some good habits on your financial plans. It assumes that your income is used:
                <ol>
                    <li> First, to save up some "emergency" cash in your savings account
                    <li> Second, to contribute to your retirement
                    <li> Third, the rest is invested in some other way
                </ol>
                I hope this pattern is simple enough that it doesn't scare away newcomers. I like that it specifically introduces investing as part of the plan, since I have struggled for years to convince my family that investing can be good. Finally, it is still general enough to handle many people's plans -- indeed, I'm using Tarot for my own planning. <br> <br>
                If the above seems crazy to you, I would encourage you to read "The Investment Answer" by Daniel Goldie, which largely summarizes my understanding of investing.
                <hr>

                These are some features that I would like to include:
                <ul>
                    <li> include suggestions / tips for common investments ("eg, over the long term, the SP500 returns roughly 8 percent yearly")
                    <li> add description of how to plan for retirement
                    <li> include withdrawals during retirement
                    <li> include house purchase as its own invesment
                    <li> users can sign up for email reminders every X months to revisit their progress towards their goals
                    <li> explicitly handle taxes, instead of including it in expenses
                    <li> include variance in the growth of investments
                    <li> probably some others I've forgotten!
                </ul>
            I don't know when (or if) I'll get to these. If you are very passionate about some feature, or have feedback of any kind, please let me know by emailing mbagherpour [the number five] at gmail. I especially want to hear your suggestions for how to simplify planning, saving, and investing for newcomers.
            </p>
        </section>
    </main>
</body>


{% endblock content %}
