{% extends 'header.html' %}

{% block content %}

<body>
    <main class='wrapper'>
        <div class='aside-1'>
            <h2>About Tarot</h2>
        </div>

        <section class='main' align='left'>
            <p> Tarot is meant to help you plan your financial future. You can set your income, spending, savings goals, and investment plans, and it will tell you how much you will have saved as time goes on. These are some features that I would like to implement:
                <ul align='left'>
                    <li> include variance in the growth of investments
                    <li> include house purchase as unique invesment
                    <li> add description of how to plan for retirement
                    <li> users can sign up for email reminders every X months to revisit their progress
                    <li> explicitly handle taxes, instead of including it in expenses
                    <li> probably some others I've forgotten!
                </ul>
            I don't know when (or if) I'll get to these. If you are very passionate about some feature, or have feedback of any kind, please let me know by emailing mbagherpour [the number five] at gmail.
            </p>
        </section>
    </main>
</body>


{% endblock content %}
