{% extends "header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Register-->
<body>
    <main class='wrapper'>
        <section class='main'>
            <header class='header'>
                <h1>Plan a New Goal</h1>
            </header>
            <form method='POST'>
                {% csrf_token %}
                {{ goal_form|crispy }}
                <button type = 'submit' name = 'submit' value='submit'>Submit</button>
                {% if can_delete %}
                    <button type = 'delete' name = 'delete' value = 'delete'>Delete</button>
                {% endif %}
            </form>
        </section>
    </main>
</body>

{% endblock %}

