{% extends 'header.html' %}

{% block content %}

<body>
    <main class='wrapper'>
        <section class='main'>
            <header>
                <h2 text-align='center'> <b>Tarot:</b> </h2>
                <h4> A <b>forward</b>-looking money management app </h4>
            </header>
            <p align='center'>
                <a href='register'>
                    sign up
                </a>
                ,
                <a href='login'>
                    login
                </a>
                , or
                <a href='home'>
                    try the demo
                </a>
            </p>
        </section>

        <div class='aside-2'></div>
    </main>

</body>

{% endblock content %}
