:root {
    --color:#b00000;
    --color-bg-secondary:#d9d9d9;
    --color-accent:#80000015;
    --color-link:#058ed9;  /* light blue */
    --width-content:initial;
}

html, body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
body{
    background-color: #fbfbfb;
    background-repeat: no-repeat;
}

h2{
    color: var(--color);
    color: #b00000;
    text-align: center;
}

ul{
    text-align: left;
}

.CodeMirror {
    border: 1px solid #eee;
    height: 100%;
    width: 100%;
}

.page-wrapper {
    display: flex;  
    flex-flow: row wrap;
    flex-direction: column;
    text-align: center; 
    justify-content: center; 
    color: #222222;
    padding: 0rem 0rem 0rem 0rem;
    height: 100%;
    width: 100%;
    margin: auto;
}

.console-wrapper {
    display: flex;  
    flex-direction: row;
    justify-content: center; 
    color: #222222;
    padding: 0rem 0rem 3rem 0rem;
    margin: 0 10% 0 10%;
    flex: 1 1 auto;
}

.console-wrapper > * {
    flex: 4 1 auto;
    text-align: left;
}

.header {
    width:100%;
    text-align: right; 
    background-color: #e5e5e5;
    color: #222222;
}

.footer {
    background-color:#400000;
    max-width:none;
    padding: 3rem 0rem;
    height:100%;
    flex-grow:1;
}

.main {
    width:100%;
    max-width:none;
    padding:0rem 2rem;
    flex: 1 1 auto;
}

.page-title {
    width:100%;
    padding: 1rem 0rem 0rem 0rem;
    flex: initial;
}

.aside-2 {
    width:100%;
    padding:0rem 0rem;
}

.column {
    border: 1px dashed blue;
    box-sizing: border-box;
    flex: 3 1 auto;
}

@media all/* and (min-width: 800px)*/ {
    .header  { order: 1; }
    .page-title{ order:3; }
    .console-wrapper{ order:4; }
    .aside-1 { order: 20; } 
    .column  { order: 30; }
    .aside-2 { order: 40; }
    .footer  { order: 50; }
}

