{% extends "tarot_header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Register-->
<body>
    <main class='wrapper'>
        <div class='aside-1'>
            <h2>Manage Account</h2>
        </div>
        <section class='main'>
        <p>
            Welcome {{user.username}}! <br><br><br>
            <a href = 'password_change'><u> change your password </u></a> <br>
            <a href = 'delete_account'><u> delete your account </u></a> <br>
        </p>
        </section>
    </main>
</body>

{% endblock %}

