{% extends "header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<body>
    <main class='wrapper'>
        <div class='aside-1'>
            <h2>Delete Account</h2>
        </div>
        <section class='main'>
        <p>
        Deleting your account <b>truly</b> deletes your account -- your login credentials will be eliminated from our database, along with any info associated with your account (goals, changes in income, expenses, etc).
        </p>
            <form method='POST'>
                {% csrf_token %}
                {{ delete_account_form|crispy }}
                <button type = 'submit'>Delete Account</button>
            </form>
        </section>
    </main>
</body>

{% endblock %}

