{% extends "header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Register-->
<body>
    <main class='wrapper'>
        <div class='aside-1'>
            <h2>Login</h2>
        </div>
        <section class='main'>
            <form method='POST'>
                {% csrf_token %}
                {{ form|crispy }}
                <button type = 'submit'>Login</button>
            </form>
            <p align='center'>If you don't have an account, <a href='../register'><u>register</u></a> instead.</p>
        </section>
    </main>
</body>

{% endblock %}

