{% extends 'ci_html_template.html' %}

{% block content %}

        <div class='page-title'>
            <h2>About Code Immersion</h2>
        </div>

        <div class='text-wrapper' style='justify-content:start; text-align:left;'>
            <p> I wanted to have an interface that would keep track of my progress while I rewrite an existing codebase. It's possible something already existed, but this seemed like a fun project to build myself. Right now, it just includes some code examples for C. I'm still working on integrating:
                <ul>
                    <li> saving progress
                    <li> importing arbitrary codebases
                </ul>
          
            In this project, I used the following tools:
                <ul>
                    <li> CodeMirror, which uses the MIT license -- see <a href='https://github.com/codemirror/dev/blob/master/LICENSE'>here</a>
                    <li> jsdiff, which uses the BSD license -- see <a href='https://github.com/kpdecker/jsdiff/blob/master/LICENSE'>here</a>
                    <li> django, which uses the BSD license -- see <a href='https://github.com/django/djangoproject.com/blob/main/LICENSE'>here</a>
                </ul>
            </p>
        </div>


{% endblock content %}
