{% extends 'ci_header.html' %}

{% block content %}

<body>
    <main class='wrapper'>
        <section class='main'>
            <header>
                <h2> <b>Code Immersion:</b> </h2>
                <h4> Learn a programming language by rewriting existing high-quality code </h4>
            </header>
            <div style = 'text-align:left;'>
                We provide:
                <ul>
                    <li> An interface to write-along with codebases in your browser
                    <li> Several options of high-quality, open-source codebases
                    <li> An easy way to look up unfamiliar language features / keywords
                    <li> A way to track your progress through the codebase (if logged in)
                </ul>
            </div>
        </section>

        <div class='aside-2'>
            <hr>
      
            <p align='center'>
                <h4> This is what it looks like </h4>
            </p>

            <hr>
            <p align='center'>
                <a href='register'>
                    sign up
                </a>
                or
                <a href='login'>
                    login
                </a>
                to track your progress
            </p>
        </div>
    </main>

</body>

{% endblock content %}
