{% extends 'ci_header.html' %}

{% block content %}
{% load humanize %}

<body>
    <main class='wrapper'>
        <div class='aside-1'>
            <h2>Code Immersion Home</h2>
        </div>

        <!--<section class='main'></section>-->

        <!--<div class='aside-2'>-->
        <div class='main'>



        </div>
        <section class='column'>

            {{ form.media }}
            <form action="" method= "post" style='width:100%'>
                {% csrf_token %}
                {{form.as_p }}
                <input type="submit" value="Submit" />
            </form>
  
<!--
  djangocodemirror package
            {% load djangocodemirror_tags %}
            <form style='width:100%'>
                <textarea id='orig_code' name='orig_code'>
int main( int x, int y) {
        // I guess code goes here
        return 0;
}

                </textarea>
            </form>

            {% codemirror_instance 'restructuredtext' 'code_codemirror' 'orig_code' %}
            -->

        </section>


        <section class='column'>
  
            {{ form.media }}
            <form action="" method= "post" style='width:100%'>
                {% csrf_token %}
                {{form.as_p }}
                <input type="submit" value="Submit" />
            </form>

        </section>
    </main>
</body>


{% endblock content %}
