{% extends "ci_header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Register-->
<body>
    <main class='wrapper'>
        <div class='aside-1'>
            <h2>Plan a One-Time Investment</h2>
        </div>
        <section class='main'>
            <form method='POST'>
                {% csrf_token %}
                {{ onetimeinvestment_form|crispy }}
                <button type = 'submit' name = 'submit' value='submit'>Submit</button>
                {% if can_delete %}
                    <button type = 'delete' name = 'delete' value = 'delete'>Delete</button>
                {% endif %}
            </form>
        </section>
    </main>
</body>

{% endblock %}

