:root {
    --color:#900000;
    --color-accent:#80000015;
    --color-link:#900000;
}
html, body{
    margin:0;
    padding:0;
    width:100%;
    /*height:100%;*/
}
body{
    background-color: #fbfbfb;
    background-repeat: no-repeat;
}

h2{
    color: #900000;
    text-align: center;
}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
    color:#222222;
    padding:1rem 0rem;
}

.wrapper > * {
    flex: 1 100%;
}

.header {
    width:100%;
    text-align: right; 
    background-color: #cccccc;
}

.footer {
    background-color:#400000;
    max-width:none;
    padding: 3rem 0rem;
    height:100%;
    flex-grow:1;
}

.main {
    width:100%;
    max-width:none;
    padding:0rem 0rem;
}

.aside-1 {
    width:100%;
    padding:0rem 0rem;
}

.aside-2 {
    width:100%;
    padding:0rem 0rem;
}

@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
    /*.main    { flex: 3 0px; }*/
    .header  { order: 1; }
    .aside-1 { order: 2; } 
    .main    { order: 3; }
    .aside-2 { order: 4; }
    .footer  { order: 5; }
}

