<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset = 'utf-8'>
        <meta name = 'viewport' content = 'width=device-width, initial-scale = 1.0'>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
        {% load static %}
        <link rel='stylesheet' type = 'text/css' href="{% static 'tarot/stylesheet.css' %}">
        <link rel='shortcut icon' type = 'image/png' href="{% static 'favicon.png' %}">

        <title>Tarot</title>
    </head>

    <div class = 'header'>
        {% load guest_user %}
        <a href = '/tarot/home'><u> home </u></a>&nbsp;&nbsp;
        <a href = '/tarot/about'><u> about </u></a>&nbsp;&nbsp;
        {% if user.is_authenticated and not user|is_guest_user %} <!-- user is a "real user" -->
            <a href = '/tarot/logout'><u> log-out </u></a>&nbsp;&nbsp;
            <a href = '/tarot/account'><u> account </u></a>&nbsp;&nbsp;
            <b>logged in as {{ user.username }} <b>
        {% elif user.is_authenticated %} <!-- user is guest user -->
            <a href = '/tarot/login'><u> log-in </u></a> &nbsp;&nbsp;
            <a href = '/tarot/convert'><u> register </u></a>&nbsp;&nbsp;
        {% else %} <!-- user is no type of user -->
            <a href = '/tarot/login'><u> log-in </u></a> &nbsp;&nbsp;
            <a href = '/tarot/register'><u> register </u></a>&nbsp;&nbsp;
        {% endif %}
    </div>

    {% block content %}

    {% endblock %}

</html>
